
/*@import url(/media/fonts/telex-regular.css);*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(//code.cdn.mozilla.net/fonts/fira.css);
/*@import "media-queries";*/

*{padding:0;margin: 0;border:none;outline:none;}
body{font-size: 14px;font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;color:#000000;background-color:#ffffff; }
a{color:#999999;text-decoration:none;}
a:hover{color:#dd0000;text-decoration:underline;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
/*p{padding:.3em 0;}*/
li{margin-left: 15px;}
ol ul, ul ol, ul ul, ol ol {margin-left:1em;}
pre code{margin:1em 0;font-size:13px;line-height:1.6;display:block;overflow:auto;}
blockquote{display:block;text-align:justify;border-left:4px solid #eeeeee;}
blockquote{margin:1em 0em;padding-left:1.5em;}
blockquote p{margin:0;padding:.5em 0;}
#container{width: 700px;margin: 2em auto;display: block;padding: 0 2em}
.content{line-height: 1.8em;font-size: 16px;}
.content h1{padding:.5em 0;}
.content img{max-width:600px;display:block;margin:4px auto;-webkit-box-shadow:#999 1px 1px 4px;-moz-box-shadow:#999 1px 1px 4px;box-shadow:#999 1px 1px 4px;}
header{padding:.5em 0;border-bottom: 1px solid #cccccc;}
nav{font-family:"Electrolize",sans-serif;font-size:1.1em;text-transform:uppercase;float:left;margin-left:-11em;width:8em;text-align:right;}
nav a{display:block;padding:.5em 0;color:#000000;padding-right: 1em}
nav a:hover{background-color:#ff0000;text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}
h1{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.6em;color:#000;}
h2{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.3em;color:#111;}
h3{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;}
h4{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1em;color:#333;}

article{margin: 1em 0;}
article .meta{display:block;overflow:auto;margin-top:-.5em;font-size:.9em;color:#999999;}
article .tags a{padding:.25em;}
article .title a{color:#dd0000;font-size:16px;font-family:font-family: "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace;}
.title {margin-bottom:.2em;}
article div{margin-bottom:.2em;margin-top: .2em;}
